html, body{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*NAV BAR*/

#navTop{
    height: 60px;
    background: rgba(10, 10, 10, 0.4) 
}
#navTopP{
    height: 50px;
    background: rgba(10, 10, 10, 0.925) 
}

#navBottom{
    height: 50px;
    font-size: 13px;
}

/* LEFT */
.nav-left .logo{
    width:80px;
    margin-left: 25px;
}
/* MIDDLE */
.nav-middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-middle .search-bar{
    margin: 0 0.5rem 0 0.5rem;
    width: 100%;
}
}
/* RIGHT */
.nav-right {
    display: flex;
}

/* MAIN */

.home .carousel-item{
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.home .carousel-item:before{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: -1;
}
.home .carousel-item .container{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
/* ADMIN CSS */
.admin-home .ad-background{
		min-height: 100vh;
	background-position: center;
	background-size: cover;
	position: relative;
}